<div class = "container">
    <div class = "nav row">
        <h1 class = "col-md-6 text-left medium nav-header">
            Impulse
        </h1>
        <% if (currentUser == undefined) {%>
        <h5 class = "col-md-6 text-right">
            <a href = "/" class = "nav-item">Home</a><a href = "/sign-in" class = "nav-item">Dashboard</a><a href = "/about" class = "nav-item">About</a>
        </h5>
        <% } else { %>
        <h5 class = "col-md-6 text-right">
            <a href = "/" class = "nav-item">Home</a><a href = "/dashboard" class = "nav-item">Dashboard</a><a href = "/about" class = "nav-item">About</a><a href = "/log-out" class = "nav-item">Logout</a>
        </h5>
        <% } %>
    </div>
</div>
