<div class = "container">
    <div class = "nav row">
        <h1 class = "col-md-6 text-left medium nav-header">
            Impulse
        </h1>
        <h5 class = "col-md-6 text-right">
            <a class = "nav-item light">Home</a><a class = "nav-item light">Metrics</a><a class = "nav-item light">Options</a>
        </h5>
    </div>
</div>
