<div class = "container">
    <div class = "nav row">
        <h1 class = "col-md-6 text-left bold">
            Impulse
        </h1>
        <h5 class = "col-md-6 text-right">
            <a class = "nav-item">Home</a>
            <a class = "nav-item">Metrics</a>
            <a class = "nav-item">Options</a>
        </h5>
    </div>
</div>
