<!DOCTYPE html>
<html lang="en">

    <% include ../views/partials/head %>

    <body>

        <% include ../views/partials/nav %>

        <div class = "container">
            <br>
            <div class = "row">
                <div class = "about-wrapper col-md-10 offset-md-1">
                    <br>
                    <div class = "row">
                        <h1 class = "col-md-12 text-center bold">About Us.</h1>
                    </div>
                    <br>
                    <div class = "about-main col-md-10 offset-md-1 light">
                        <p>
                            Impulse was created to help bring consciousness to consumerism.
                        </p>
                        <br>
                        <p>
                            But what does that really mean? The team behind Impulse was tired
                            of how easy it is to mindlessly spend money online. When you press "buy now"
                            or "check out" on an ecommerce site, you cannot really feel the pain of that money
                            leaving your bank account, unlike cash where you are physically handing the money over.
                        </p>
                    </div>
            </div>
        </div>

        <% include ../views/partials/footer %>

    </body>
</html>
