<!DOCTYPE html>
<html lang="en">

    <% include ../views/partials/head %>

    <body>

        <% include ../views/partials/nav %>

        <div class = "container">
            <div class = "index-wrapper">
                <div class = "row">
                    <h2 class = "col-md-8 offset-md-2 text-center light">Impulse Brings Consciousness To Consumerism.</h2>
                </div>
                <br>
<<<<<<< HEAD
                <div class = "image-wrapper text-center">
                    <img id = "index-image" src = "/images/monitor.png" class = "img-fluid"></img>
=======
                <div class = "row">
                    <div class = "image-wrapper text-center col-md-12">
                        <img id = "index-image" src = "/images/impulse-screenshot.png" class = "img-fluid"></img>
                    </div>
>>>>>>> 6079e2060bd1259463817a9fb16541185a4289eb
                </div>
                <br>
                <% if (currentUser == undefined) {%>
                <div class = "row index-login-signup">
                    <h5 class = "col-md-12 index-button-wrapper text-center">
                        <a href = "sign-in" id = "index-sign-in" class = "button">Sign In</a><a href = "sign-up" id = "index-sign-up" class = "button">Sign Up</a>
                    </h5>
                </div>
                <% } %>

                <div class = "footer-text row">
                    <h5 class = "col-md-12 text-center light">
                        The biggest step we can take towards saving money is thinking more about how we spend.
                    </h5>
                </div>

            </div>
        </div>

        <% include ../views/partials/footer %>

    </body>
</html>
