<!DOCTYPE html>
<html lang="en">

    <% include ../views/partials/head %>

    <body>

        <% include ../views/partials/nav %>

        <div class = "container">
            <div class = "main-wrapper">
                <div class = "row title-wrapper">
                    <h2 class = "col-md-12 text-center">Welcome to Impulse. Say Goodbye To Impulse Purchases.</h2>
                </div>
            </div>
        </div>

        <% include ../views/partials/footer %>

    </body>
</html>
