<!DOCTYPE html>
<html lang="en">

    <% include ../views/partials/head %>

    <body>

        <% include ../views/partials/nav %>

        <div class = "container">
        </div>

        <% include ../views/partials/footer %>

    </body>
</html>
