@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,500,700');

:root{
    --black: #04080F;
    --darkgreen: #008748;
    --green: #13BE7F;
    --red: #EF2D56;
    --white: #FFFFFF;
    --gray: #DBDBDB;
    --darkblue: #1E467F;
}

body{
    font-family: 'Roboto';
    overflow-x: hidden !important;
    background-color: var(--green);
    color: var(--white);
    max-height: 100vh;
}

h1, h2, h5{
    line-height: 50px;
}

.light{
    font-weight: 300;
}

.medium{
    font-weight: 400;
}

.bold{
    font-weight: 700;
}

.nav{
    padding: 15px;
}

.nav-header{
    font-family: "Pacifico";
}

.nav-item{
    color: var(--white) !important;
    padding: 5px 10px;
}

.nav-item:hover{
    text-decoration: none;
    background-color: var(--white);
    color: var(--green) !important;
    cursor: pointer;
}

/* GRAPHS */
.graph {
    position: relative;
    max-height: 93%;
    height: 93%;
    max-width: 100%;
    width: 100%;
    padding: 25px;
    margin: 0px;
    margin-top: 25px;
    background-color: var(--white);
    color: var(--green);
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

/* ANALYTICS */
.analytics-card {
    position: relative;
    margin: 30px auto;
    width: 100%;
    height: 100%;
    padding: 25px 25px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--white);
    color: var(--green);
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.analytics-card h3{
    font-size: 20px;
}

/* DASHBOARD CARDS */

.inner-stat {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 8px;
}

.stat {
    position: relative;
    max-height: 10vw;
    height: 10vw;
    max-width: 100%;
    width: 100%;
    padding: 15px 15px;
    margin: 0;
    margin-top: 25px;
    background-color: var(--white);
    color: var(--green);
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.stat h1{
    font-size: 3vw;
    text-align: right;
    margin: 8px;
}

.stat h3{
    font-size: 20px;
}

/* INDEX */
.index-wrapper{
    position: relative;
    top: 5vh;
}

#index-image{
    width: 70%;
    height: auto;
    border-radius: 4px;
}

.index-button-wrapper a{
    color: var(--white) !important;
    padding: 8px 14px;
}

.index-button-wrapper a:hover{
    text-decoration: none;
    background-color: var(--white);
    color: var(--green) !important;
    cursor: pointer;
}

/* SIGN IN */
.signin-header{
    margin-top: 15px;
}

.signin-wrapper{
    margin-top: 20vh;
    padding: 50px 10px;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1);
}

.signin-wrapper h1{
    font-family: "Pacifico";
    color: var(--green);
}

#signin-button{
    border: none;
    background-color: var(--green) !important;
}

#signin-button:focus{
    outline:0;
}

#signin-button:hover{
    cursor: pointer;
}

#signin-link{
    border: none;
    background-color: var(--green) !important;
}

/* SIGN UP */
.signup-header{
    margin-top: 15px;
}

.signup-wrapper{
    margin-top: 20vh;
    padding: 50px 10px;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1);
}

.signup-wrapper h1{
    font-family: "Pacifico";
    color: var(--green);
}

#signup-button{
    border: none;
    background-color: var(--green) !important;
}

#signup-button:focus{
    outline:0;
}

#signup-button:hover{
    cursor: pointer;
}



@media (max-width: 768px){
    .nav h1{
        text-align: center !important;
    }
    .nav h5{
        text-align: center !important;
    }
}
